.main-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 400px;
    margin-left: 70px;
}

.text-content-main>h1 {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
}

.text-content-main>button {
    margin-top: 15px;
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 15, 54);
    color: white;
    transition: all 0.3s ease;
}

.text-content-main>button>a {
    color: white;
}

.text-content-main>button:hover {
    border: 1px solid rgb(39, 15, 54);
    background-color: transparent;
}

.text-content-main>button:hover .signup-btn {
    color: black;
}

.text-content-main>p {
    margin: 0;
    margin-top: 20px;
    font-size: 1.4rem;
}

.main-content>img {
    height: 500px;
    width: 800px;
    margin-left: 100px;
}

.main-content {
    margin-top: 60px;
}

div.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.credits > h1 {
    font-size: 3rem;
    color: rgb(39, 15, 54);
}

div.credits > a {
    color: white;
    background-color: rgb(39, 15, 54);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

div.credits > a:hover {
    background-color: transparent;
    border: 1px solid rgb(39, 15, 54);
    color: black;
}

footer {
    margin-top: 50px;
    background-color: rgb(39, 15, 54);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}